<div class="row-fluid">
  <%- if can? :read, Daybook -%>
    <div class="col-md-12">
      <article class="data-block">
        <div class="block-title"><h4>Main courante</h4></div>
        <div class="data-container">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Titre</th>
              </tr>
            </thead>
            <tbody>
              <%= render(:partial => 'dashboard/daybook', :collection => @daybooks) || raw("<tr><td colspan='3'>Aucune main courante</td></tr>") %>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  <%- end -%>
  <div class="col-md-6">
    <article class="data-block">
      <div class="block-title"><h4>Conversations</h4></div>
      <div class="data-container">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Sujet</th>
            </tr>
          </thead>
          <tbody>
            <%= render(:partial => 'dashboard/conversation', :collection => @conversations) || raw("<tr><td colspan='3'>Aucune conversation</td></tr>") %>
          </tbody>
        </table>
        <%- unless @conversation.blank? -%>
          <footer class="note">
            <p><%= link_to("Voir toute la liste", conversations_path) %></p>
          </footer>
        <%- end -%>
      </div>
    </article>
    <%- if can? :read, Convocation -%>
      <article class="data-block">
        <div class="block-title"><h4>Dernières convocations</h4></div>
        <div class="data-container">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Lieu</th>
              </tr>
            </thead>
            <tbody>
              <%= render(:partial => 'dashboard/convocation', :collection => @convocations) || raw("<tr><td colspan='3'>Aucune convocation</td></tr>") %>
            </tbody>
          </table>
          <%- unless @convocations.blank? -%>
            <footer class="note">
              <p><%= link_to("Voir toute la liste", convocations_path) %></p>
            </footer>
          <%- end -%>
        </div>
      </article>
    <%- end -%>
  </div>
  <div class="col-md-6">
    <%- if can? :read, Intervention -%>
      <article class="data-block">
       <div class="block-title"><h4>Dernières interventions</h4></div>
        <div class="data-container">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <%= render(:partial => 'dashboard/intervention', :collection => @interventions) || raw("<tr><td colspan='2'>Aucune intervention</td></tr>") %>
            </tbody>
          </table>
          <%- unless @interventions.blank? -%>
            <footer class="note">
              <p><%= link_to("Voir toute la liste", interventions_path) %></p>
            </footer>
          <%- end -%>
        </div>
      </article>
    <%- end -%>
    <%- if can? :read, Item -%>
      <article class="data-block">
        <div class="block-title"><h4>Matériel expirant dans les 30 prochains jours</h4></div>
        <div class="data-container">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Quantité</th>
                <th>Expire le</th>
              </tr>
            </thead>
            <tbody>
              <%= render(:partial => 'dashboard/expiring_item', :collection => @items) || raw("<tr><td colspan='3'>Aucun matériel</td></tr>") %>
            </tbody>
          </table>
          <%- unless @items.blank? -%>
            <footer class="note">
              <p><%= link_to("Voir toute la liste", expirings_items_path) %></p>
            </footer>
          <%- end -%>
        </div>
      </article>
    <%- end -%>
  </div>
  <%- if (flash.empty?) and
         (cannot? :read, Mailboxer::Message and cannot? :read, Convocation \
            and cannot? :read, Intervention and cannot? :read, Item) -%>
        <p class="alert alert-error">
          Vos droits ne vous permettent pas d'effectuer cette action.
        </p>
  <%- end -%>
</div>
