<div class="span-3 first">
  <div class="tabs">
    <div class="head">
      Derniers messages
    </div>
    <div class="body">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Titre</th>
          </tr>
        </thead>
        <tbody>
          <%= render(:partial => 'dashboard/message', :collection => @messages) || "<tr><td colspan='3'>Aucun nouveau message</td></tr>" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="span-3">
  <div class="tabs">
    <div class="head">
      Dernières convocations
    </div>
    <div class="body">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Titre</th>
            <th>Lieu</th>
          </tr>
        </thead>
        <tbody>
          <%= render(:partial => 'dashboard/convocation', :collection => @convocations) || "<tr><td colspan='3'>Aucune convocation</td></tr>" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="span-3 first">
  <div class="tabs">
    <div class="head">
      Dernières interventions
    </div>
    <div class="body">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <%= render(:partial => 'dashboard/intervention', :collection => @interventions) || "<tr><td colspan='2'>Aucune intervention</td></tr>" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="span-3">
  <div class="tabs">
    <div class="head">
      Matériel expirant dans les 30 prochains jours
    </div>
    <div class="body">
      <table>
        <thead>
          <tr>
            <th>Titre</th>
            <th>Quantité</th>
            <th>Expire le</th>
          </tr>
        </thead>
        <tbody>
          <%= render(:partial => 'dashboard/expiring_item', :collection => @items) || "<tr><td colspan='3'>Aucun matériel</td></tr>" %>
          <%- unless @items.blank? -%>
            <tr>
              <td colspan="3" class="right"><%= link_to("Voir toute la liste", expirings_items_path) %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>