<div class="span-6 first">
  <h1>Edition de mon profil</h1>
  <%- form_for @user, :url => update_profile_path do |f| -%>
    <p>
      <%= f.label(:email, "Adresse email", :class => "span-1 first")%>
      <span class="span-2"><%= @user.email %></span>
    </p>
    <p>
      <%= f.label(:new_email, "Nouvelle adresse email", :class => "span-1 first")%>
      <span class="span-2">
        <%= f.text_field(:new_email_tmp, :class => "span-2 first")%>
        <%= error_message_on(:user, :new_email_tmp, :css_class => "span-2 first")%>
      </span>
      <span class="span-2 help">
        La nouvelle adresse email sera utilisée après l'avoir confirmée en cliquant sur le lien de confirmation reçu par email.
      </span>
    </p>
    <p>
      <%= f.label(:password, "Nouveau mot de passe", :class => "span-1 first") %>
      <span class="span-3">
        <%= f.password_field(:password, :class => "span-2 first") %>
        <%= error_message_on(:user, :password, :css_class => "span-2 first") %>
      </span>    
    </p>
    <p>
      <%= f.label(:password_confirmation, "Confirmation du nouveau mot de passe", :class => "span-1 first") %>
      <span class="span-3">
        <%= f.password_field(:password_confirmation, :class => "span-2 first") %>
        <%= error_message_on(:user, :password_confirmation, :css_class => "span-2 first") %>
      </span>
    </p>
    <p class="span-3 first prefix-1">
      <%= button_tag(:submit, "Enregistrer") %>
    </p>
  <%- end -%>
</div>