<div class="block-title"><h4>Edition de mon profil</h4></div>

<div class="clearfix"></div>

<div class="block-title"><h5>Personnel</h5></div>
<fieldset>
  <div class="col-md-5 form-horizontal">
    <div class="form-group">
      <label class="col-md-5 control-label">Personnel lié au compte</label>
      <div class="col-md-7">
        <p class="form-control-static">
          <%- if @user.fireman_id.blank? -%>
            Aucun
          <%- else -%>
            <%= link_to(grade_and_name(fireman: @user.fireman), fireman_path(@user.fireman)) %>
          <%- end -%>
        </p>
      </div>
    </div>
  </div>
</fieldset>

<div class="block-title"><h5>Adresse email</h5></div>
<%= form_for(@user, :url => update_profile_path, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label(:email, "Adresse email", :class => 'col-md-5 control-label')%>
        <div class="col-md-7">
          <%= f.text_field(:email, :disabled => true, :class => 'form-control') %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:new_email, "Nouvelle adresse email", :class => 'col-md-5 control-label')%>
        <div class="col-md-7">
          <%= f.text_field(:new_email_tmp, :autocomplete => :off, :class => 'form-control')%>
          <%= error_message_on(:user, :new_email_tmp)%>
          <span class="help-block">La nouvelle adresse email sera utilisée après l'avoir confirmée en cliquant sur le lien de confirmation reçu par email.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>

<div class="block-title"><h5>Mot de passe</h5></div>
<%= form_for(@user, :url => update_profile_path, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label(:password, "Nouveau mot de passe", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.password_field(:password, :autocomplete => :off, :class => 'form-control') %>
          <%= error_message_on(:user, :password) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:password_confirmation, "Confirmation du nouveau mot de passe", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.password_field(:password_confirmation, :autocomplete => :off, :class => 'form-control') %>
          <%= error_message_on(:user, :password_confirmation) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>

<%- if @user.group.present? -%>
  <div class="clearfix"></div>

  <div class="block-title"><h5>Droits</h5></div>
  <%= render(:partial => 'groups/group_table', locals: {:group => @user.group, :resources => @resources}) %>
<%- end -%>
