<%- form_tag(password_resets_path) do -%>
  <%= flash_helper %>
  <p>
    <%= label_tag("Adresse email") %><br />
    <%= text_field_tag(:email, '',:size => 36) %>
  </p>
  <p class="submit">
    <%= submit_tag("Envoyer") %>
  </p>
<%- end -%>
<!--[if lte IE 7]><div class="clear">&nbsp;</div><![endif]-->
<%= javascript_tag("$(':text:visible:enabled:first').focus();") %>