<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(daybook, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label(:text, "Texte (*)", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_area(:text, :row => 3, :class => 'form-control') %>
          <%= error_message_on(:daybook, :text) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:frontpage, "Affiché sur la page d'accueil", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.check_box(:frontpage) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", uniforms_path) %>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>
