<tr class="<%= cycle("odd","even") %>">
  <td><%= l(convocation.date) %></td>
  <td><%= link_to(h(convocation.title), convocation) %></td>
  <td><%= h(convocation.place) %></td>
  <td><%= h(convocation.uniform.title) %></td>
</tr>