<tr class="<%= cycle("odd","even") %>">
  <td><%= l(convocation.date) %></td>
  <td><%= link_to(convocation.title, convocation) %></td>
  <td><%= convocation.place %></td>
  <td><%= convocation.uniform.title %></td>
</tr>