<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(convocation, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label(:title, "Titre (*)", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:title, :class => 'form-control') %>
            <%= error_message_on(:convocation, :title) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:date, "Date (*)", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:date, :value => l!(f.object.date), :class => "date form-control") %>
            <%= error_message_on(:convocation, :date) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:place, "Lieu (*)", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:place, :class => 'form-control') %>
            <%= error_message_on(:convocation, :place) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:uniform, "Tenue (*)", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.collection_select(:uniform_id, station.uniforms.all, :id, :title, {}, :class => 'form-control') %>
            <%= error_message_on(:convocation, :uniform) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:hide_grade, "Masquer les grades à l'impression", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.check_box(:hide_grade) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:confirmable, "Lien de confirmation", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.check_box(:confirmable) %>
            <span class="help-block">Le destinataire peut cliquer sur ce lien pour confirmer sa présence.</span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:rem, "Remarque", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_area(:rem, :rows => 5, :class => 'form-control') %>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <%= f.label(:firemen, "Personnel (*)") %>
        <div>
          <%- firemen.group_by(&:status).sort.reverse.each do |status, firemen_status| -%>
            <div class="popover popover-right">
              <p class="popover-title">
                <%= Fireman::STATUS_PLURAL.key(status) %>
                <span class="pull-right"><small>
                  <%= link_to("Cocher/décocher tous", "#", :id => "change_status_#{status}", :class => "change_status")%>
                </small></span>
              </p>
              <div class="popover-content">
              <%= render :partial => "fireman", :collection => firemen_status, :locals => {:status => status,
                                                                                           :attendees => attendees} %>
              </div>
            </div>
          <%- end -%>
        </div>
        <%= error_message_on(:convocation, :firemen) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", convocations_path)%>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>
