<h1><%= h(@convocation.title) %> (<%= l(@convocation.date) %>)</h1>
<p>Lieu : <%= h(@convocation.place) %></p>
<p>Tenue : <%= h(@convocation.uniform.description) %></p>
<%- unless @convocation.rem.blank? -%>
  <p>Remarque : <%= h(@convocation.rem) %></p>
<%- end -%>
<p>
  <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + "&nbsp;Editer".html_safe, edit_convocation_path(@convocation))%> -
  <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + "&nbsp;Supprimer".html_safe, convocation_path(@convocation), :method => :delete, :confirm => "Êtes-vous sûr ?")%> -
  <%= link_to(image_tag("back/icons/print.png", :alt => "Imprimer les convocations") + "&nbsp;Imprimer les convocations".html_safe, convocation_path(@convocation, :format => :pdf))%> -
  <%= link_to(image_tag("back/icons/user.png", :alt => "Présences") + "&nbsp;Présences".html_safe, edit_all_convocation_convocation_firemen_path(@convocation))%>
</p>
<h2>Convoqués</h2>
<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Présent ?</th>
    </tr>
  </thead>
  <tbody>
    <%-@convocation.convocation_firemen.group_by(&:status).each do |group, convocation_firemen| -%>
      <tr>
        <th colspan="4">
          <%= Fireman::STATUS.index(group) %>&nbsp;-&nbsp;<%= display_stats_presence(group) %>
        </th>
      </tr>
      <%= render(convocation_firemen) %>
    <%- end -%>
  </tbody>
</table>