<div class="block-title"><h4><%= @convocation.title %> (<%= l(@convocation.date) %>)</h4></div>
<p>Lieu : <%= @convocation.place %></p>
<p>Tenue : <%= @convocation.uniform_description %></p>
<%- if @convocation.rem? -%>
  <p>Remarque : <%= @convocation.rem %></p>
<%- end -%>
<p>Date du dernier envoi par email : <%= display_last_emailed_at(@convocation.last_emailed_at) %></p>
<div class="btn-toolbar pull-left">
  <div class="btn-group">
    <%= link_to(icon_label_text('glyphicon glyphicon-edit', 'Editer'),
                edit_convocation_path(@convocation),
                :class => 'btn btn-default btn-sm') %>
    <%= link_to(icon_label_text('glyphicon glyphicon-remove', 'Supprimer'),
                convocation_path(@convocation),
                :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" },
                :class => 'btn btn-default btn-sm') %>
    <%= link_to(icon_label_text('glyphicon glyphicon-print', 'Imprimer les convocations'),
                convocation_path(@convocation, :format => :pdf),
                :class => 'btn btn-default btn-sm') %>
    <%= link_to(icon_label_text('glyphicon glyphicon-envelope', 'Envoyer par email'),
                email_convocation_path(@convocation),
                :method => :post,
                :data => { :confirm => "Seuls les personnes ayant une adresse email recevront la convocation. Êtes-vous sûr ?" },
                :class => 'btn btn-default btn-sm') %>
    <%= link_to(icon_label_text('glyphicon glyphicon-user', 'Présences'),
                edit_all_convocation_convocation_firemen_path(@convocation),
                :class => 'btn btn-default btn-sm') %>
  </div>
</div>
<div class="clearfix"></div>
<div class="block-title"><h5>Convoqués</h5></div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Présent ?</th>
    </tr>
  </thead>
  <tbody>
    <%-@convocation.convocation_firemen.group_by(&:status).each do |group, convocation_firemen| -%>
      <tr>
        <th colspan="4">
          <%= Fireman::STATUS.key(group) %>&nbsp;-&nbsp;<%= display_stats_presence(@presence, group) %>
        </th>
      </tr>
      <%= render(convocation_firemen) %>
    <%- end -%>
  </tbody>
</table>