<div class="well well-sm">
  <%= data[:total] %> <%= t('pluralize.convocation', :count => data[:total]) %> /
  <%= data[:presents] %> <%= t('pluralize.presence', :count => data[:presents]) %> /
  <%= data[:missings] %> <%= t('pluralize.absence', :count => data[:missings]) %> /
  (<%= data[:ratio] %> % présence)
</div>
