<h1><%= @conversation.subject %></h1>

<%- @conversation.receipts_for(current_user).each do |receipt| -%>
  <%- message = receipt.message -%>
  <small><%= message.sender.email %> @ <%= message.created_at %></small>
  <p><%= message.body %></p>
<%- end -%>

<%= render('reply', :conversation => @conversation) %>
