<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(group, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-md-5">
            <%= f.label(:title, "Nom (*)", :class => 'col-md-5 control-label') %>
            <div class="col-md-7">
              <%= f.text_field(:name, :class => 'form-control') %>
              <%= error_message_on(:group, :name) %>
            </div>
          </div>
        </div>
        <div class="block-title"><%= f.label(:users, "Utilisateurs") %></div>
        <table class="table table-stripped table-hover table-condensed">
          <tbody>
            <%= render(:partial => 'user_form',
                       :collection => @users, :as => :user,
                       :locals => { :group => @group }) %>
          </tbody>
        </table>

        <div class="block-title"><%= f.label(:users, "Droits") %></div>
        <table class="table table-stripped table-hover table-condensed">
          <thead>
            <tr>
              <td><b>Ressource</b></td>
            </tr>
          </thead>
          <tbody>
            <%- group.initialized_permissions(@resources).group_by { |p| p.resource.category }.sort.each do |category, permissions| -%>
              <tr class="info">
                <td colspan="5"><%= category %></td>
              </tr>
              <%= f.fields_for(:permissions, permissions) do |builder| %>
                <%= render('permission_form', :builder => builder) %>
              <% end %>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", groups_path) %>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>
