<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(group, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="row">
      <div class="span12">
        <div class="control-group">
          <%= f.label(:title, "Nom (*)", :class => 'control-label') %>
          <div class="controls">
            <%= f.text_field(:name) %>
            <%= error_message_on(:group, :name) %>
          </div>
        </div>

        <div class="block-title"><%= f.label(:users, "Utilisateurs") %></div>
        <table class="table table-stripped table-hover table-condensed">
          <tbody>
            <%= render(:partial => 'user_form',
                       :collection => @users, :as => :user,
                       :locals => { :group => @group }) %>
          </tbody>
        </table>

        <div class="block-title"><%= f.label(:users, "Droits") %></div>
        <table class="table table-stripped table-hover table-condensed">
          <thead>
            <tr>
              <td><b>Ressource</b></td>
              <td><b>Lecture</b></td>
              <td><b>Création</b></td>
              <td><b>Edition</b></td>
              <td><b>Suppression</b></td>
            </tr>
          </thead>
          <tbody>
            <%- group.initialized_permissions.group_by { |p| p.resource.category }.sort.each do |category, permissions| -%>
              <tr class="info">
                <td colspan="5"><%= category %></td>
              </tr>
              <%= f.fields_for(:permissions, permissions) do |builder| %>
                <%= render('permission_form', :builder => builder) %>
              <% end %>
            <%- end -%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-large') %> ou <%= link_to("Annuler", groups_path) %>
      </div>
    </div>
  </fieldset>
<%- end -%>