<tr>
  <td><%= permission.resource.title %></td>
  <td><%= permission_icon(permission.can_show) %></td>
  <td><%= permission_icon(permission.can_create) %></td>
  <td><%= permission_icon(permission.can_update) %></td>
  <td><%= permission_icon(permission.can_destroy) %></td>
</tr>