<% resource = builder.object.resource %>
<%= builder.hidden_field(:resource_id) %>
<tr>
  <td><%= resource.title %></td>
  <td>
    <div class="checkbox">
      <label><%= builder.check_box(:can_read) %> Lecture</label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label><%= builder.check_box(:can_create) %> Création</label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label><%= builder.check_box(:can_update) %> Edition</label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label><%= builder.check_box(:can_destroy) %> Suppression</label>
    </div>
  </td>
</tr>
