<div class="block-title"><h4><%= @group.name %></h4></div>
<div class="clearfix"></div>
<div class="btn-toolbar pull-left">
  <div class="btn-group">
    <%= link_to(icon_label_text('icon-edit', 'Editer'),
                edit_group_path(@group),
                :class => 'btn btn-small') %>
    <%= link_to(icon_label_text('icon-remove', 'Supprimer'),
                group_path(@group),
                :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" },
                :class => 'btn btn-small') %>
  </div>
</div>
<div class="clearfix"></div>
<div class="block-title"><h5>Utilisateurs</h5></div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => 'user', :collection => @group.users) || raw("<tr><td colspan='1'>Pas encore d'utilisateur !</td></tr>") %>
  </tbody>
</table>
<div class="block-title"><h5>Droits</h5></div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Lecture</th>
      <th>Création</th>
      <th>Edition</th>
      <th>Suppression</th>
    </tr>
  </thead>
  <tbody>
    <%- @group.initialized_permissions(@resources).group_by { |p| p.resource.category }.sort.each do |category, permissions| -%>
      <tr class="info">
        <td colspan="5"><%= category %></td>
      </tr>
      <%= render(:partial => 'permission', :collection => permissions) %>
    <%- end -%>
  </tbody>
</table>