<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(uniform, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label(:title, "Titre (*)", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_field(:title, :class => 'form-control') %>
          <%= error_message_on(:uniform, :title) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:code, "Code", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_field(:code, :class => 'form-control') %>
          <%= error_message_on(:uniform, :code) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:description, "Description (*)", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_area(:description, :rows => 5, :class => 'form-control') %>
          <%= error_message_on(:uniform, :description) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", uniforms_path) %>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>
