<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%- form_for(@check_list) do |f| -%>
  <p>
    <%= f.label(:title, "Titre (*)", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:title, :class => "span-2 first") %>
      <%= error_message_on(:check_list, :title, :css_class => "span-2 first") %>
    </span>
  </p>
  <p class="span-3 first prefix-1">
    <%= button_tag(:submit, "Enregistrer") %> ou <%= link_to("Annuler", check_lists_path)%>
  </p>
<%- end -%>