<h1><%= @check_list.title %></h1>
<p>
  <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + raw("&nbsp;Editer"), edit_check_list_path(@check_list))%> -
  <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + raw("&nbsp;Supprimer"), check_list_path(@check_list), :method => :delete, :confirm => "Êtes-vous sûr ?")%> -
  <%= link_to(image_tag("back/icons/print.png", :alt => "Imprimer") + raw("&nbsp;Imprimer"), check_list_path(@check_list, :format => :pdf))%>
</p>
<h2>Matériel</h2>
<p class="right"><%= link_to(image_tag("back/icons/add.png") + raw("&nbsp;Créer un nouveau matériel"), new_check_list_item_path(@check_list))%></p>
<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Emplacement</th>
      <th>Quantité</th>
      <th>Expire le</th>
    </tr>
  </thead>
  <tbody>
    <%= render(@check_list.items) || raw("<tr><td colspan='4'>Pas de matériel dans cette liste</td></tr>") %>
  </tbody>
</table>