<tr class="<%= cycle("odd","even") %>">
  <td><%= Grade::GRADE.index(convocation_fireman.grade) %></td>
  <td><%= h(convocation_fireman.fireman.lastname) %></td>  
  <td><%= h(convocation_fireman.fireman.firstname) %></td>
  <td><%= check_box_tag(:convocation_fireman, :presence, convocation_fireman.presence, :disabled => true) %></td>
</tr>