<%= form_tag(update_all_convocation_convocation_firemen_path(convocation), :method => :patch) do %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Grade</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Présent ?</th>
      </tr>
    </thead>
    <tbody>
      <%- convocation_firemen.group_by(&:status).each do |group, convocation_firemen_status| -%>
        <tr>
          <th colspan="4"><%= Fireman::STATUS.key(group) %></th>
        </tr>
          <%- convocation_firemen_status.each do |convocation_fireman| -%>
            <%= fields_for("convocation_firemen[]", convocation_fireman) do |f| =%>
            <tr>
              <td class="clickable"><%= Grade::GRADE.key(convocation_fireman.grade) %></td>
              <td class="clickable"><%= convocation_fireman.fireman_lastname %></td>
              <td class="clickable"><%= convocation_fireman.fireman_firstname %></td>
              <td><%= f.check_box(:presence) %></td>
            </tr>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    </tbody>
  </table>
  <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", convocation_path(convocation)) %>
<%- end -%>