<!-- Sidebar -->

<% content_for :sidebar do %>
<%= typus_block :location => 'dashboard', :partial => 'sidebar' %>
<% end %>

<!-- Content -->

<h2><%= params[:controller].split('/').last.titleize.capitalize %></h2>

<h3>Newsletter</h3>

<p>Total : <%= @nb_nl%></p>
<p>
  Non activées : <%= @nb_nl_inactive %>
  <%- if @nb_nl > 0 -%>
    (<%= @nb_nl_inactive*100/@nb_nl %> %)
  <%- end -%>
</p>
<p>A inviter : <%= @nb_nl_to_invite %></p>

<h3>Beta</h3>

<p>Total : <%= @nb_bc %></p>
<p>
  Non utilisés : <%= @nb_bc_unused %>
  <%- if @nb_bc > 0 -%>
    (<%= @nb_bc_unused*100/@nb_bc %> %)
  <%- end -%>
</p>
<p>
  Non confirmés : <%= @nb_bc_inactive %>
  <%- if @nb_bc > 0 -%>
    (<%= @nb_bc_inactive*100/@nb_bc %> %)
  <%- end -%>
</p>