<p><%= @convocation.station.name %></p>
<p>CONVOCATION</p>
<p><%= @grade %>&nbsp;<%= @fireman.firstname %>&nbsp;<%= @fireman.lastname %></p>
<p>Motif : <%= @convocation.title %></p>
<p>Tenue : <%= @uniform.title %> - <%= @uniform.description %></p>
<p>Lieu : <%= @convocation.place %></p>
<p>Date et heure : <%= I18n.l(@convocation.date, :format => :default) %></p>
<%- unless @convocation.rem.blank? -%>
  <p>Remarque : <%= @convocation.rem %></p>
<%- end -%>
