<p><%= h(@convocation.station.name) %></p>
<p>CONVOCATION</p>
<p><%= @grade %>&nbsp;<%= h(@fireman.firstname) %>&nbsp;<%= h(@fireman.lastname)%></p>
<p>Motif : <%= h(@convocation.title) %></p>
<p>Lieu : <%= h(@convocation.place) %></p>
<p>Date et heure : <%= I18n.l(@convocation.date, :format => :default) %></p>
<%- unless @convocation.rem.blank? -%>
  <p>Remarque : <%= h(convocation.rem) %></p>
<%- end -%>