<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(@intervention) do |f| %>
  <div class="span-3 first">
    <p>
      <%= f.label(:kind, "Type (*)", :class => "span-1 first")%>
      <span class="span-2">
        <%= f.select(:kind, options_for_kind )%>
      </span>
    </p>
    <p>
      <%= f.label(:place, "Lieu (*)", :class => "span-1 first") %>
      <span class="span-2">
        <%= f.text_area(:place, :class => "span-2 first", :rows => 5) %>
        <%= error_message_on(:intervention, :place, :css_class => "span-2 first") %>
      </span>
    </p>
    <p>
      <%= f.label(:city, "Ville (*)", :class => "span-1 first") %>
      <span class="span-2">
        <%= f.text_field(:city, :class => "span-2 first") %>
        <%= error_message_on(:intervention, :city, :css_class => "span-2 first") %>
      </span>
    </p>
    <p>
      <%= f.label(:start_date, "Date début (*)", :class => "span-1 first") %>
      <span class="span-2">
        <%= f.text_field(:start_date, :value => l!(f.object.start_date), :class => "span-2 first date") %>
        <%= error_message_on(:intervention, :start_date, :css_class => "span-2 first") %>
      </span>
    </p>
    <p>
      <%= f.label(:end_date, "Date fin (*)", :class => "span-1 first") %>
      <span class="span-2">
        <%= f.text_field(:end_date, :value => l!(f.object.end_date), :class => "span-2 first date") %>
        <%= error_message_on(:intervention, :end_date, :css_class => "span-2 first") %>
      </span>
    </p>
    <p>
      <%= f.label(:vehicles, "Véhicules", :class => "span-1 first") %>
      <span class="span-2">
    		<%- @vehicles.each do |vehicle| -%>
    			<%= check_box_tag("intervention[vehicle_ids][]", vehicle.id, @intervention.vehicles.include?(vehicle)) %>
    			<label class="click_prev_checkbox"><%= vehicle.name %></label>
    		<%- end -%>
      </span>
    </p>
    <p>
      <%= f.label(:rem, "Remarque", :class => "span-1 first") %>
      <span class="span-2">
        <%= f.text_area(:rem, :class => "span-2 first", :rows => 5) %>
      </span>
    </p>
  </div>
  <div class="span-3">
    <div class="span-1 first">
      <%= f.label(:firemen, "Personnel (*)", :class => "span-1 first") %>
    </div>
    <div class="span-2">
      <ul>
        <%= render :partial => "fireman", :collection => @firemen %>
      </ul>
      <%= error_message_on(:intervention, :firemen) %>
    </div>
  </div>
  <div class="span-5 first">
    <%= submit_tag("Enregistrer") %> ou <%= link_to("Annuler", interventions_path) %>
  </div>
<%- end -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag("back/master.css", "back/jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.blitzer.css", "back/jquery.autocomplete.css")%>
  <%= javascript_include_tag("jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.min.js", "jquery-ui-i18n-#{SpGestion::JQUERY_UI_VERSION}.min.js", "jquery-ui-timepicker-addon.js","jquery.autocomplete.pack.js") %>
<%- end -%>
<%- content_for(:javascript) do -%>
  $.datepicker.setDefaults($.datepicker.regional['fr']);
  $.timepicker.setDefaults($.timepicker.regional['fr']);
  $('.date').datetimepicker({ showMonthAfterYear: false,
                              changeYear: true,
                              changeMonth: true,
                              dateFormat: 'dd/mm/yy',
                              minDate: '<%= min_date_intervention(@station) %>',
                              maxDate: new Date(),
                              constrainInput: true,
                              duration: '',
                              stepMinute: 1});
  $('.click_prev_checkbox').click(function(){
    var checkbox = $(this).prev(':checkbox');
    checkbox.attr('checked', !checkbox.attr('checked'));
  });
  $('input#intervention_city').autocomplete(<%= raw(@cities.to_json) %>, {
                                      minChars: 0,
                                      selectFirst: false
                                    });
  $('input#intervention_city').focus(function(){
    $('input#intervention_city').click().click();
  });
<%- end -%>