<tr class="<%= cycle("odd","even") %>">
  <td><%= intervention.number %></td>
  <td><%= link_to(l(intervention.start_date), intervention_path(intervention)) %></td>
  <td><%= display_kind(intervention) %> / <%= intervention.subtype %></td>
  <td><%= intervention.place %>&nbsp;/&nbsp;<%= intervention.city %></td>
  <td><%= display_vehicles(intervention) %></td>
</tr>