<tr>
  <td><%= intervention.number %></td>
  <td><%= link_to(l(intervention.start_date), intervention_path(intervention)) %></td>
  <td><%= display_kind_and_subkind(intervention) %></td>
  <td><%= intervention.place %>&nbsp;/&nbsp;<%= intervention.city %></td>
  <td><%= display_vehicles(intervention) %></td>
</tr>