<p>
  <b>Intervention n°<%= intervention.number %></b><br/>
  Du <%= l(intervention.start_date) %> au <%= l(intervention.end_date) %><br />
  <%= display_kind_and_subtype(intervention) %><br />
  <%= intervention.place %>&nbsp;/&nbsp;<%= intervention.city %>
</p>