<h1>Intervention n°<%= @intervention.number %></h1>
<div class="span-3 first">
  <p>
    <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + "&nbsp;Editer", edit_intervention_path(@intervention))%> -
    <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + "&nbsp;Supprimer", intervention_path(@intervention), :method => :delete, :confirm => "Êtes-vous sûr ?")%>
  </p>
  <p>Type : <%= display_kind(@intervention)%></p>
  <p>Lieu : <%= h(@intervention.place)%>&nbsp;/&nbsp;<%= h(@intervention.city)%></p>
  <p>
    Début : <%= l(@intervention.start_date) %><br/>
    Fin : <%= l(@intervention.end_date) %>
  </p>
  <p>Véhicules : <%= display_vehicles(@intervention) %></p>
</div>
<div class="span-3">
  <%- if @map.blank? %>
    Impossible de localiser l'adresse, essayez de la modifier pour avoir une vue du lieu de l'intervention.
  <%- else -%>
    <%= @map.to_html %>
    <div style="width: 450px; height: 250px;">
      <%= @map.div %>
    </div>
  <%- end -%>
</div>
<div class="span-6 first">
  <h2>Personnel</h2>
  <table>
    <thead>
      <tr>
        <th>Grade</th>
        <th>Nom</th>
        <th>Prénom</th>
      </tr>
    </thead>
    <tbody>
      <%= render(@intervention.fireman_interventions) %>
    </tbody>
  </table>
</div>