<h1>
  Statistiques de l'année
  <%= form_tag(interventions_stats_change_year_path(params[:type]),
               :id => :form_stats_interventions,
               :style => "display:inline;") do -%>
    <%= select_tag(:new_year, options_for_select((@min_year..@max_year), @current_year)) %>
    <%- content_for(:javascript) do -%>
      $("#new_year").change(function() {
        $('#form_stats_interventions').submit();
      });
    <%- end -%>
  <%- end -%>
</h1>

<%- if @not_enough_data -%>
  <p class="message warning">
    Pas assez de données pour cette période.
  </p>
<%- else -%>
  <%= render(:partial => params[:type]) %>

  <div class="buttons">
    <%= render_navigation(:context => :interventions_stats,
                          :renderer => :links,
                          :level => 1) %>
  </div>

  <%- content_for(:header) do -%>
    <%= stylesheet_link_tag("back/master.css", "back/jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.blitzer.css")%>
    <%= javascript_include_tag("jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.min.js") %>
  <%- end -%>
  <%- content_for(:javascript) do -%>
    $( "a", ".buttons" ).button();
  <%- end -%>
<%- end -%>