<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for([check_list, item], :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label(:title, "Titre (*)", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_field(:title, :class => 'form-control') %>
          <%= error_message_on(:item, :title) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:quantity, "Quantité (*)", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_field(:quantity, :class => 'form-control') %>
          <%= error_message_on(:item, :quantity) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:place, "Emplacement", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_field(:place, :class => 'form-control') %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:birthday, "Date d'expiration", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_field(:expiry, :value => l!(f.object.expiry), :class => "date form-control") %>
          <%= error_message_on(:item, :expiry) %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:item_photo, "Photo (png ou jpg) de 480x360 pixels", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.file_field :item_photo, :class => 'form-control' %>
          <%= f.hidden_field :item_photo_cache %><br />
          <%= f.check_box :remove_item_photo %> Supprimer la photo existante
          <%= error_message_on(:item, :item_photo)%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:rem, "Remarque", :class => 'col-md-5 control-label') %>
        <div class="col-md-7">
          <%= f.text_area(:rem, :rows => 5, :class => 'form-control') %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-7 col-md-offset-5">
          <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", (session[:back_path] || check_list_path(check_list)))%>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>
<%= javascript_tag do %>
  var places = <%= raw(check_list.places.to_json) %>;
<%- end -%>
