<div class="block-title"><h4><%= link_to('Formation', fireman_fireman_trainings_path(@fireman)) %> <%= @fireman_training.training_short_name  %> du <%= grade_and_name(@fireman) %></h4></div>
<ul>
  <li>Date de réussite : <%= l!(@fireman_training.achieved_at) %></li>
</ul>
<%- if @fireman_training.rem? -%>
  <p>Remarque : <%= @fireman_training.rem %></p>
<%- end -%>
<div class="btn-toolbar pull-left">
  <div class="btn-group">
    <%= link_to(icon_label_text('glyphicon glyphicon-edit', 'Editer'),
                edit_fireman_fireman_training_path(@fireman, @fireman_training),
                :class => 'btn btn-default btn-sm') %>
    <%= link_to(icon_label_text('glyphicon glyphicon-remove', 'Supprimer'),
                fireman_fireman_training_path(@fireman, @fireman_training),
                :method => :delete, :data => { :confirm => "Êtes-vous sûr ?" },
                :class => 'btn btn-default btn-sm') %>
  </div>
</div>