<%- content_for(:header) do -%>
  <%=javascript_include_tag("jquery.pstrength.1.2") %>
<%- end -%>
<%= form_for @user, :url => confirmation_path(@user.perishable_token), :html => { :method => :put } do |f| %>
  <p>
    <%= f.label(:password, "Choisissez un mot de passe") %>
    <%= f.password_field(:password) %>
    <%- content_for(:javascript) do -%>
      $('#user_password').pstrength();
    <%- end -%>
    <%= error_message_on(:user, :password) %>
  </p>
  <p>
    <%= f.label(:password_confirmation, "Confirmation du mot de passe") %>
    <%= f.password_field(:password_confirmation) %>
    <%= error_message_on(:user, :password_confirmation) %>
  </p>
  <p class="submit">
    <%= submit_tag("Activer mon compte !") %>
  </p>
<%- end -%>
<%- content_for(:javascript) do -%>
  $(':password:visible:enabled:first').focus();
<%- end -%>