<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(@vehicle) do |f| %>
  <p>
    <%= f.label(:name, "Nom (*)", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:name, :class => "span-2 first") %>
      <%= error_message_on(:vehicle, :name, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:date_approval, "Date de passage aux mines", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:date_approval, :value => l!(f.object.date_approval), :class => "span-1 first", :class => "date") %>
      <%= error_message_on(:vehicle, :date_approval, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:date_check, "Date de contrôle technique", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:date_check, :value => l!(f.object.date_check), :class => "span-1 first", :class => "date") %>
      <%= error_message_on(:vehicle, :date_check, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:date_review, "Date de révision", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:date_review, :value => l!(f.object.date_review), :class => "span-1 first", :class => "date") %>
      <%= error_message_on(:vehicle, :date_review, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:rem, "Remarque", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_area(:rem, :class => "span-2 first", :rows => 5) %>
    </span>
  </p>
  <p class="span-3 first prefix-1">
    <%= submit_tag("Enregistrer") %> ou <%= link_to("Annuler", vehicles_path)%>
  </p>
<%- end -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag("back/jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.blitzer.css")%>
  <%= javascript_include_tag("jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.min.js", "jquery-ui-i18n-#{SpGestion::JQUERY_UI_VERSION}.min.js") %>
<%- end -%>
<%- content_for(:javascript) do -%>
    $.datepicker.setDefaults($.datepicker.regional['fr']);
    $('.date').datepicker({ showMonthAfterYear: false,
                            showButtonPanel: true,
                            changeYear: true,
                            changeMonth: true,
                            dateFormat: 'dd/mm/yy',
                            constrainInput: true,
                            yearRange: '<%= Date.today.year-70 %>:<%= Date.today.year+5 %>' });
<%- end -%>