<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(vehicle, :html => { :class => 'form-horizontal' }) do |f| %>
  <fieldset>
  <%- if !vehicle.errors.blank? -%>
    <%- if (vehicle.errors.count == 1) and vehicle.errors[:validate_date_delisting_update].present? -%>
      <div class="alert alert-warning fireman-grade-update">
        <div class="row">
          Vous ne pourrez plus modifier tous rapports d'interventions ayant eu lieu avant le <%= l(vehicle.date_delisting) %>.
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <%= f.label(:validate_date_delisting_update, "J'accepte (*)", :class => 'col-md-5 control-label') %>
              <div class="col-md-7">
                <%= f.check_box(:validate_date_delisting_update) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%- else -%>
      <p class="alert alert-error">Veuillez corriger les erreurs avant de pouvoir continuer.</p>
    <%- end -%>
  <%- end -%>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label(:name, "Nom (*)", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:name, :class => 'form-control') %>
            <%= error_message_on(:vehicle, :name) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:date_approval, "Date de passage aux mines", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:date_approval, :value => l!(f.object.date_approval), :class => "date form-control") %>
            <%= error_message_on(:vehicle, :date_approval) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:date_check, "Date de contrôle technique", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:date_check, :value => l!(f.object.date_check), :class => "date form-control") %>
            <%= error_message_on(:vehicle, :date_check) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:date_review, "Date de révision", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:date_review, :value => l!(f.object.date_review), :class => "date form-control") %>
            <%= error_message_on(:vehicle, :date_review) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:date_delisting, "Date de radiation", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_field(:date_delisting, :value => l!(f.object.date_delisting), :class => "date form-control") %>
            <%= error_message_on(:vehicle, :date_delisting) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:vehicle_photo, "Photo (png ou jpg) de 480x360 pixels", :class => 'col-md-5 control-label')%>
          <div class="col-md-7">
            <%= f.file_field :vehicle_photo, :class => 'form-control' %>
            <%= f.hidden_field :vehicle_photo_cache %><br />
            <%= f.check_box :remove_vehicle_photo %> Supprimer la photo existante
            <%= error_message_on(:vehicle, :vehicle_photo)%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:rem, "Remarque", :class => 'col-md-5 control-label') %>
          <div class="col-md-7">
            <%= f.text_area(:rem, :rows => 5, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-7 col-md-offset-5">
            <%= submit_tag("Enregistrer", :class => 'btn btn-primary btn-lg') %> ou <%= link_to("Annuler", vehicles_path)%>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
<%- end -%>
