<tr class="<%= cycle("odd","even") %>">
  <td><%= l(convocation_fireman.convocation.date) %></td>
  <td><%= link_to(h(convocation_fireman.convocation.title), convocation_fireman.convocation) %></td>
  <td><%= h(convocation_fireman.convocation.place) %></td>
  <td><%= h(convocation_fireman.convocation.uniform.title) %></td>
  <td><%= check_box_tag(:convocation_fireman, :presence, convocation_fireman.presence, :disabled => true) %></td>
  <td class="center"><%= link_to(image_tag("back/icons/print.png", :alt => "Imprimer la convocation"), 
                                 convocation_convocation_fireman_path(convocation_fireman.convocation, convocation_fireman),
                                 :format => :pdf) %></td>
</tr>