<tr class="<%= cycle("odd","even") %>">
  <td><%= l(convocation_fireman.convocation.date) %></td>
  <td><%= h(convocation_fireman.convocation.title) %></td>
  <td><%= h(convocation_fireman.convocation.place) %></td>
  <td><%= h(convocation_fireman.convocation.uniform.title) %></td>
  <td><%= check_box_tag(:convocation_fireman, :presence, convocation_fireman.presence, :disabled => true) %></td>
</tr>