<tr class="<%= cycle("odd","even") %>">
  <td><%= Grade::GRADE.index(fireman.grade) %></td>
  <td><%= link_to(h(fireman.lastname), fireman) %></td>
  <td><%= h(fireman.firstname) %></td>
  <td><%= Fireman::STATUS.index(fireman.status) %></td>
  <td><%= display_role(fireman)  %></td>
</tr>