<p>Les champs marqués d'une astérisque (*) sont obligatoires.</p>
<%= form_for(@fireman) do |f| %>
  <div class="span-4 first">
  <%- if !@fireman.errors.blank? -%>
    <%- unless @fireman.errors[:validate_grade_update].blank? -%>
      <div class="message warning span-3">
        Vous ne pourrez plus modifier tous rapports d'interventions ayant eu lieu avant le <%= l(@fireman.max_grade_date) %>.
        <br />
        <%= f.check_box(:validate_grade_update) %><b><%= f.label(:validate_grade_update, "Je confirme la modification (*)") %></b>
      </div>
    <%- else -%>
      <p class="message error">Veuillez corriger les erreurs avant de pouvoir continuer.</p>
    <%- end -%>
  <%- end -%>
  <p>
    <%= f.label(:firstname, "Prénom (*)", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:firstname, :class => "span-2 first") %>
      <%= error_message_on(:fireman, :firstname, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:lastname, "Nom (*)", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:lastname, :class => "span-2 first") %>
      <%= error_message_on(:fireman, :lastname, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:status, "Statut (*)", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.select(:status, Fireman::STATUS.sort, :class => "span-2 first") %>
      <%- content_for(:javascript) do -%>
        $('#fireman_status').change(function() {
          if ($(this).val() == 1)
            $('#grades').fadeOut();
          else
            $('#grades').fadeIn();
        });
      <%- end -%>
      <%= error_message_on(:fireman, :status, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:tag_list, "Etiquette(s)", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:tag_list, :class => "span-2 first") %>
      <%= error_message_on(:fireman, :tag_list, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:birthday, "Date de naissance", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:birthday, :value => l!(f.object.birthday), :class => "span-1 first", :class => "date") %>
      <%= error_message_on(:fireman, :birthday, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:checkup, "Visite médicale", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:checkup, :value => l!(f.object.checkup), :class => "span-1 first", :class => "date") %>
      <%= error_message_on(:fireman, :checkup, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:tag_list, "Adresse email", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_field(:email, :class => "span-2 first") %>
      <%= error_message_on(:fireman, :email, :css_class => "span-2 first") %>
    </span>
  </p>
  <p>
    <%= f.label(:rem, "Remarque", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.text_area(:rem, :class => "span-2 first", :rows => 5) %>
    </span>
  </p>
  </div>
  <div class="span-2" id="grades" style="<%= style_for_grades(@fireman) %>">
    <div>Grade (*)<br />Saisissez la date de nomination à côté de chaque grade obtenu.</div>
    <table>
    <%= f.fields_for(:grades) do |g| %>
      <%= render :partial => 'grade', :locals => { :f => g } %>
    <%- end -%>
    </table>
    <%= error_message_on(:fireman, :grades, :css_class => "span-2 first") %>
  </div>
  <div class="span-5 first">
    <%= submit_tag("Enregistrer") %> ou <%= link_to("Annuler", firemen_path) %>
  </div>
<%- end -%>
<%- content_for(:header) do -%>
  <%= stylesheet_link_tag("back/jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.blitzer.css", "back/TextboxList.css", "back/TextboxList.Autocomplete.css")%>
  <%= javascript_include_tag("jquery-ui-#{SpGestion::JQUERY_UI_VERSION}.min.js", "jquery-ui-i18n-#{SpGestion::JQUERY_UI_VERSION}.min.js", "GrowingInput.js", "TextboxList.js", "TextboxList.Autocomplete.js") %>
<%- end -%>
<%- content_for(:javascript) do -%>
  var t = new $.TextboxList('#fireman_tag_list', {
                  unique: true,
                  plugins: {
                    autocomplete: {
                      queryRemote: false,
                      placeholder: 'Saisir une nouvelle étiquette ou quelques lettres pour en choisir une existante...'
                    }
                  }
                });
  t.plugins['autocomplete'].setValues(<%= raw(@tags) %>);

  $.datepicker.setDefaults($.datepicker.regional['fr']);
  $('.date').datepicker({ showMonthAfterYear: false,
                          showButtonPanel: true,
                          changeYear: true,
                          changeMonth: true,
                          dateFormat: 'dd/mm/yy',
                          constrainInput: true,
                          maxDate: '+0',
                          yearRange: '<%= Date.today.year-70 %>:<%= Date.today.year %>'});
<%- end -%>