<tr class="<%= class_for_grade(f.object) %>">
  <td><%= img_grade(f.object.kind) %></td>
  <td>
    <%= f.text_field(:date, :value => l!(f.object.date), :class => "date") %>
    <%= f.hidden_field(:kind, :value => f.object.kind) %>
    <%= error_message_on(f.object, :date) %>
  </td>
</tr>