<tr style="<%= !(f.object.date.blank?) ? "background-color:#a8aaaa;" : "" %>">
  <td><%= img_grade(f.object.kind) %></td>
  <td>
    <%= f.text_field(:date, :value => l!(f.object.date), :class => "date") %>
    <%= f.hidden_field(:kind, :value => f.object.kind) %>
    <%= f.error_message_on(:date) %>
  </td>
</tr>