<h1><%= @fireman.firstname %>&nbsp;<%= @fireman.lastname %></h1>
<%= img_grade(@fireman) %>
<p><%= link_to("Editer", edit_fireman_path(@fireman))%> - <%= link_to("Supprimer", fireman_path(@fireman), :method => :delete)%></p>