<h1><%= Grade::GRADE.index(@fireman.grade) %>&nbsp;<%= h(@fireman.firstname) %>&nbsp;<%= h(@fireman.lastname) %></h1>
<%- if @fireman.chief or @fireman.chief_assistant or @fireman.quartermaster -%>
<p>
  Fonction(s) :
  <ul>
    <%- if @fireman.chief -%><li>Chef du centre</li><%- end -%>
    <%- if @fireman.chief_assistant %><li>Adjoint au chef de centre</li><%- end -%>
    <%- if @fireman.quartermaster %><li>Fourrier</li><%- end -%>
  </ul>
</p>
<%- end -%>
<p>Statistiques :
  <ul>
    <li>Interventions : <%= @fireman.stats_interventions[:total] %></li>
    <li>Convocations : <%= display_stats_convocation %></li>
  </ul>
</p>
<%- unless @fireman.rem.blank? -%>
  <p>Remarque : <%= h(@fireman.rem) %></p>
<%- end -%>
<p>
  <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + "&nbsp;Editer", edit_fireman_path(@fireman))%> - 
  <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + "&nbsp;Supprimer", fireman_path(@fireman), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>
<h2>5 dernières interventions</h2>
<table>
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Date</th>
      <th>Type</th>
      <th>Lieu</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => "fireman_intervention", :collection => @fireman.fireman_interventions.newer) ||
               "<tr><td colspan='4'>Pas encore d'intervention !</td></tr>" %>
  </tbody>
</table>
<h2>5 Dernières convocations</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Titre</th>
      <th>Lieu</th>      
      <th>Tenue</th>
      <th>Présent ?</th>
      <th class="actions">Imprimer</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => "convocation_fireman", :collection => @fireman.convocation_firemen.newer) ||
               "<tr><td colspan='6'>Pas encore de convocation !</td></tr>" %>
  </tbody>
</table>