<h1><%= Grade::GRADE.index(@fireman.grade) %>&nbsp;<%= h(@fireman.firstname) %>&nbsp;<%= h(@fireman.lastname) %></h1>
<%- if @fireman.chief or @fireman.chief_assistant or @fireman.quartermaster -%>
<p>
  Fonction(s) :
  <ul>
    <%- if @fireman.chief -%><li>Chef du centre</li><%- end -%>
    <%- if @fireman.chief_assistant %><li>Adjoint au chef de centre</li><%- end -%>
    <%- if @fireman.quartermaster %><li>Fourrier</li><%- end -%>
  </ul>
</p>
<%- end -%>
<%- unless @fireman.rem.blank? -%>
  <p>Remarque : <%= h(@fireman.rem) %></p>
<%- end -%>
<p>
  <%= link_to("Editer", edit_fireman_path(@fireman))%> - 
  <%= link_to("Supprimer", fireman_path(@fireman), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>
<h2>Convocations</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Titre</th>
      <th>Lieu</th>      
      <th>Tenue</th>
      <th>Présent ?</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => "convocation_fireman", :collection => @fireman.convocation_firemen) || 
               "<tr><td colspan='5'>Pas encore de convocation !</td></tr>" %>
  </tbody>
</table>