<table id="firemen_trainings" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="vertical-align: middle;">Personnel</th>
      <%- @trainings.each do |t| -%>
        <th style="vertical-align: top; text-align: center;"><%= t.short_name %></th>
      <%- end -%>
    </tr>
  </thead>
  <tbody
    <%- @firemen.each do |f| -%>
      <tr>
        <td><%= Grade::GRADE.key(f.grade)%> <%= f.lastname %> <%= f.firstname %></td>
        <%- @trainings.each do |t| -%>
          <td style="vertical-align: middle; text-align:center;"><%= l!(@fireman_trainings["#{f.id}_#{t.id}"]) %></td>
        <%- end -%>
      </tr>
    <%- end -%>
  </tbody>
</table>