<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="fr" />

    <meta name="description" content="Logiciel de gestion de centre d'intervention et de secours : convocations, gardes, matériel, vacations, rapports d'intervention, statistiques" />
    <meta name="keywords" content="CIS, CPI, vacations, gestion, centre, secours, pompiers, SP, véhicules, gardes, matériel, sapeur, interventions, rapport, logiciel, convocations, péremptions" />

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <%= stylesheet_link_tag("front/reset","front/main","front/style", :media => "screen, projection", :cache => "global_public") %>
    <%= stylesheet_link_tag("front/print", :media => "print") %>
    <!--[if lte IE 6]><%= stylesheet_link_tag("front/main-msie")%><![endif]-->
    
    <title>SP-Gestion - Gestion de centres d'intervention et de secours</title>
</head>

<body>
  <div id="main">

      <!-- Header -->
      <div id="header">

          <p id="logo"><%= image_tag("front/logo.png")%></p>

          <div id="slogan">Gestion de centres d'intervention et de secours</div>

      </div> <!-- /header -->

      <hr class="noscreen" />

      <!-- Navigation -->
      <div id="nav" class="box">
        <ul>
          <li class="active"><%= link_to("Accueil", home_page_path())%></li>
          <li><%= link_to("Blog", "http://blog.sp-gestion.fr") %></li>          
        </ul>
      </div> <!-- /nav -->

      <hr class="noscreen" />

      <!-- Columns -->
      <div id="cols">
          <div id="cols-in" class="box">

              <!-- Content -->
              <div id="content">

                <%= yield %>
                  
              </div> <!-- /content -->

              <hr class="noscreen" />


          </div> <!-- /cols-in -->
      </div> <!-- /cols -->

      <hr class="noscreen" />

      <!-- Footer -->
      <div id="footer" class="box">

          <p class="f-left">Copyright &copy; 2009 imagineapp - <%= link_to("Contactez-nous !", "http://blog.sp-gestion.fr")%></p>

      </div> <!-- /box -->

  </div> <!-- /main -->
    
</body>
</html>