<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SP-Gestion - <%= @station.name %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag("back/master.css") %>
  <!--[if lte IE 6]><%= stylesheet_link_tag("back/ie6.css")%><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag("back/ie7.css")%><![endif]-->
  <%= javascript_include_tag("jquery-1.4.4.js", "rails.js") %>
  <%= csrf_meta_tag %>
  <%= yield(:header) %>
</head>
<body>
  <noscript>
    <p class="browser_capabilities_warning">
      Pour profiter pleinement de SP-Gestion, vous devez activer les scripts Javascript ! <%= mail_to("contact@sp-gestion.fr", "Contactez-nous pour obtenir de l'aide concernant ce message") %>.
    </p>
  </noscript>
  <!--[if lte IE 6]><%= render(:partial => "/layouts/ie6_warning") %><![endif]-->
  <p id="header">
    <%= render(:partial => "/layouts/logo") %>
  </p><!-- #header -->
  <p id="user">
    <%- if current_user.id == @station.owner_id -%>
      <%= link_to("Compte", edit_account_path) %>
      &nbsp;|&nbsp;
      <%= link_to("Utilisateurs", users_path) %>
      &nbsp;|&nbsp;
    <%- end -%>
    <%= link_to("Mes informations", profile_path)%>
    &nbsp;|&nbsp;
    <%= link_to("Déconnexion", logout_path) %>
  </p><!-- #user -->
  <div id="nav">
    <%= render_navigation(:level => 1) %>
    <%= render_navigation(:level => 2) %>
  </div><!-- #nav -->
  <div id="content">
    <%= flash_helper %>
    <%= yield %>
  </div><!-- #content -->
  <div id="footer" class="clearfix">
    <p class="left">
      Copyright &copy; 2009-<%= Date.today.year %>  imagineapp - <%= mail_to("contact@sp-gestion.fr", "Contactez-nous") %> - <%= link_to("Forum des utilisateurs", "http://forum.sp-gestion.fr") %>
    </p>
  </div><!-- #footer -->
  <%= render(:partial => "/layouts/javascript") if content_for?(:javascript) %>
</body>
</html>