<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SP-Gestion - <%= @station.name %></title>
  <%= javascript_include_tag("back") %>
  <%= stylesheet_link_tag("back-all", :media => "all") %>
  <%= csrf_meta_tag %>
  <%= render('/layouts/head') %>
  <%= render('/layouts/google_analytics') if Rails.env.production? %>
</head>
<body>
  <noscript>
    <div class="alert">
      Pour profiter pleinement de SP-Gestion, vous devez activer les scripts Javascript ! <%= mail_to("contact@sp-gestion.fr", "Contactez-nous pour obtenir de l'aide concernant ce message") %>.
    </div>
  </noscript>
  <!--[if lte IE 6]><%= render("/layouts/ie6_warning") %><![endif]-->
  <%- if @station.demo? -%>
    <div class="alert alert-info center">
      <%= link_to("Ceci est un compte de démonstration, vous pouvez profiter de votre propre compte SP-Gestion en vous inscrivant gratuitement !",
                  signup_url(:subdomain => 'www')) %>
    </div>
  <%- end -%>
  <!-- Main page container -->
  <div class="container-fluid">

    <!-- Left side -->
    <section class="navigation-block">

      <!-- Main page header -->
      <header class="hidden-xs">
        <!-- Main page logo -->
        <%= render("/layouts/logo", :station => @station) %>
      </header>
      <header class="visible-xs-block">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h4><%= link_to(@station.name, root_back_path) %></h4>
      </header>
      <!-- /Main page header -->

      <!-- Main navigation -->
      <nav class="main-navigation navbar-collapse collapse" role="navigation">
        <%= render_navigation(:expand_all => true) %>
      </nav>
      <!-- /Main navigation -->
    </section>
    <!-- /Left side -->

    <!-- Right side -->
    <section class="content-block" role="main">
      <!-- Breadcrumbs -->
      <%= render_navigation(:context => :breadcrumbs,
                            :renderer => :bootstrap_breadcrumbs,
                            :root_path => root_back_path) %>
      <!-- /Breadcrumbs -->
      <%= flash_helper %>
      <%= yield %>
    </section>
    <!-- /Right side -->

  </div>
  <div class="navbar-fixed-bottom" id="footer">
      <div class="pull-right">
        <span class="hidden-xs">Copyright </span>&copy; 2009-<%= Date.today.year %> imagineapp -
        <%= link_to(donations_path(), :target => :blank) do %>
          <span class="donation">Soutenez SP-Gestion</span>
        <%- end -%> -
        <%= mail_to("contact@sp-gestion.fr", "Contactez-nous") %> -
        <%= link_to("Forum", "http://forum.sp-gestion.fr", :target => :blank) %>
      </div>
  </div>
  <!-- /Main page container -->
  <%= render("/layouts/javascript") %>
  <!-- VCS REV : <%= render("/layouts/vcs_revision")%> -->
</body>
</html>
