<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SP-Gestion - <%= h(@station.name) %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag("back/master.css")%>
  <!--[if lte IE 6]><%= stylesheet_link_tag("back/ie6.css")%><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag("back/ie7.css")%><![endif]-->
  <%= javascript_include_tag(:defaults) %>
</head>
<body class="login">
  <p id="header">
    <%= link_to(h(@station.name), root_back_path)%>
  </p><!-- #header -->
  <div id="content">
    <div id="loginbox" class="tabs span-2 first">
      <div class="head">
        <%= render_navigation(:context => :login, :level => 1) %>
      </div>
      <div id="login" class="body clearfix">
        <%= yield %>
      </div>
    </div>
  </div><!-- #content -->
</body>
</html>