<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SP-Gestion - <%= @station.name %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag("back/master.css")%>
  <!--[if lte IE 6]><%= stylesheet_link_tag("back/ie6.css")%><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag("back/ie7.css")%><![endif]-->
  <%= javascript_include_tag("jquery-#{SpGestion::JQUERY_VERSION}.min.js", "rails.js") %>
  <%= csrf_meta_tag %>
  <%= hoptoad_javascript_notifier %>
  <%= yield(:header) %>
  <%= render(:partial => '/layouts/google_analytics') if Rails.env == "production" %>
</head>
<body>
  <!--[if lte IE 6]><%= render(:partial => "/layouts/ie6_warning") %><![endif]-->
  <div class="login">
  <p id="header">
    <%= render(:partial => "/layouts/logo") %>
  </p><!-- #header -->
  <div id="content">
    <div id="loginbox" class="tabs span-2 first">
      <div class="head">
        <%= render_navigation(:context => context_login_navigation(controller.controller_name),
                              :level => 1) %>
      </div>
      <div id="login" class="body clearfix">
        <%= yield %>
      </div>
    </div>
  </div><!-- #content -->
  </div>
  <%= render(:partial => "/layouts/javascript") if content_for?(:javascript) %>
  <!-- SVN REV : <%= render(:partial => "/layouts/svn_revision")%> -->
</body>
</html>