<div class="span-6 first">
  <h1>Détails du compte <%= @station.url %>.sp-gestion.fr</h1>

  <h2>Logo  (png, jpg, gif) de 100 x 50 pixels</h2>
  <%- form_for(:station, :url => update_logo_account_path, :html => { :method => :put, :multipart => true}) do |f| %>
  <p>
    <%= f.label(:logo, "Fichier", :class => "span-1 first")%>
    <span class="span-3">
      <%= f.file_field :logo %>
      <%= f.hidden_field :logo_cache %>
    </span>
  </p>
  <p>
    <%= f.label(:remove_logo, "Supprimer l'existant", :class => "span-1 first") %>
    <span class="span-3">
      <%= f.check_box :remove_logo %>
    </span>
  </p>
  <p class="span-3 first prefix-1">
    <%= submit_tag("Enregistrer") %>
  </p>
  <%- end -%>
</div>

<div class="span-6 first">
  <h2>Changer le propriétaire du compte</h2>
  <p>Attention en transférant la propriété de ce compte à un autre utilisateur vous n'aurez plus la possibilité de gérer les utilisateurs et de re-changer le propriétaire.</p>
  <%- if @users.size > 0 -%>
    <%- form_for(:station, :url => update_owner_account_path, :html => { :method => :put }) do |f| %>
      <p>
        <%= f.label(:owner_id, "Nouveau propriétaire du compte", :class => "span-1 first") %>
        <span class="span-3">
          <%= f.collection_select(:owner_id, @users, :id, :email) %>
        </span>
      </p>
      <p class="span-3 first prefix-1">
        <%= submit_tag("Enregistrer") %>
      </p>
      <%= javascript_tag("
        $('.edit_station').submit(function() {
            return confirm('Êtes-vous sûr ?');
        });
      ")%>
    <%- end -%>
  <%- else -%>
    <p class="message notice">Aucun autre utilisateur ne peut devenir propriétaire de ce compte. Vous devez <%= link_to("inviter", users_path) %> un nouvel utilisateur avant de pouvoir lui transférer ce compte.</p>
  <%- end -%>
</div>

<div class="span-6 first">
  <h2>Supprimer le compte</h2>
  <p>Toutes les données sont effacées instantanément et définitivement.</p>
  <%= button_to('Je veux supprimer le compte', :account, :method => :delete, :confirm => 'Êtes-vous sûr ?', :id => :account_destroy)%>
</div>