<div class="row">
  <div class="col-md-12">
    <ul>
      <li><span data-toggle="tooltip" data-placement="left"
        title="Nombre de tranches horaire ou il n'y a aucune personne disponible.">
        Tranches horaire sans personnel</span> :
        <%= @periods_without_firemen %>
      </li>
      <li><span data-toggle="tooltip" data-placement="left"
        title="Nombre totales d'heures possibles pour le centre (personnel actif x 24h x 7j) par rapport au nombre du planning actuel.">Taux de disponibilité</span> : <%= @occupation %> %
      </li>
      <li><span data-toggle="tooltip" data-placement="left"
      title="Nombre de personnes disponibles en moyenne par tranche horaire.">
      Effectif moyen par tranche horaire</span> :
      <%= @firemen_period_average %> personnes</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h5>5 heures avec le moins de personnel</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Heure</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <%- @periods_less_firemen.each do |pf| -%>
          <tr>
            <td><%= l!(pf[0]) %></td>
            <td><%= pf[1] %></td>
          </tr>
        <%- end -%>
        <%- if @periods_less_firemen.blank? -%>
          <tr>
            <td colspan="2">Pas assez de données disponibles.</td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h5>5 heures avec le plus de personnel</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Heure</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
        <%- @periods_more_firemen.each do |pf| -%>
          <tr>
            <td><%= l!(pf[0]) %></td>
            <td><%= pf[1] %></td>
          </tr>
        <%- end -%>
        <%- if @periods_less_firemen.blank? -%>
          <tr>
            <td colspan="2">Pas assez de données disponibles.</td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>

<%= render(:partial => 'layouts/javascript') %>
